<!DOCTYPE html>
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
{% block title %}Error Management{% endblock %}
</title>

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}    
</head>


<body>
<header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                {% block logged_in_content %}
                    <a href="{% url 'home' %}">
                        <div class="profile">
                            <img src="{% static 'images/account.png' %}" alt="Profil" style="height: 60px; width: 65px">
                        </div>
                    </a>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'home' %}">Maschinensuche</a></li>
                <li><a href="{% url 'home' %}">Fehlercodesuche</a></li>   
                <a href="{% url 'home' %}">
                    <div class="profile">
                        <img src="{% static 'images/plus.png' %}" alt="Profil" style="height: 60px; width: 65px">
                    </div>
                </a>             
                {% endblock %}
            {% else %}
                {% block not_logged_in_content %}
                    <p>You are not logged in</p>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endblock %}
            {% endif %}
        </ul>
    </nav>
</header>

<main>
{% block content %}
    <h1>Error Management System</h1>
        <br>
    </main>


    {% endblock %}
</main>

<footer>
    <p>&copy; 2024 Bachelor</p>
</footer>
</body>




