{% extends "base.html" %}

<!DOCTYPE html>
<head>
   
</head>
<body>

<main>
{% block content %}
    <h1>Error Management System</h1>
        <br>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
                <button type="submit">Suchen</button>
        </form>

        {% if show_search_results %}
        <b>Maschinen:</b><br>

        <ul>
            {% for machine in machines_found %}
                <li>
                    <p><b>{{ product }}</b></p>

                    <a href="{% url 'machine-detail' machine.id %}">
                        Show product
                    </a>
                </li>
            {% endfor %}
        </ul>

    {% endif %}

        
    </main>


    {% endblock %}
</main>

<footer>
    <p>&copy; 2024 Bachelorprojekt</p>
</footer>

</body>




