{% load static %} {% load i18n %}

<!-- Modal for error protocol-->
<div id="errorProtocolModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{% trans "Fehlerprotokoll" %}:</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      {% for protocol in protocols %}
      <div class="protocol-item">
        <p><strong>{{ protocol.timestamp }}</p></strong> 
        <p><strong>Maschine:</strong> {{ protocol.machine }}</p>
        <p><strong>Fehler Code:</strong> {{ protocol.error_code }}</p>
        <p><strong>Notizen:</strong> {{ protocol.notes }}</p>
      </div>
      <hr />
      {% endfor %}

      <div class="modal-footer">
        <button
        type="button"
        class="btn btn-default"
        data-url="{% url 'error_protocoll' %}"
        onclick="redirectToErrorProtocol(this)"
      >
        {% trans "neuer Fehler" %}
      </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          {% trans "Schließen" %}
        </button>
      </div>
    </div>
  </div>
</div>

<script>
   function redirectToErrorProtocol(button) {
    const url = button.getAttribute('data-url');
    window.location.href = url;
  }
</script>
