body {
  font-family: Helvetica;
  font-size: 30px;
  color: grey;
  background-color: #f9f9f9;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  padding-bottom: 100px !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-left: 30px;
  margin-right: 30px;
  display: grid;
  place-items: center;
}

header {
  display: flex;
  align-items: center;
  background-color: lightgrey;
  text-align: center;
  height: 70px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

nav {
  all: unset !important;
  width: 100%;
  max-width: 100%;
}

nav ul {
  list-style: none;
  justify-content: flex-start;
  padding: 0;
  display: flex;
  width: 100%;
  margin-bottom: 0px !important;

  li {
    margin: 0 15px;
    margin-block: auto;
    a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
    }
    a:hover {
      color: black;
      text-decoration: none;
    }
  }
}

.plus {
  right: 50px !important;
  position: absolute;
  margin-right: 30px;
}

.information {
  position: absolute;
  right: 160px;
  top: 2px;
}

#navbar2 {
  all: unset !important;
  #dropdown2 {
    top: 70px;
    right: 5px;
    left: unset;
  }
}

#dropdown1 {
  min-width: unset;
  top: 115%;
}
#dropdown3 {
  min-width: unset;
}

#arrow > a {
  color: black !important;
  font-size: 20px;
}

.machine-results {
  border: solid black;
  list-style: none;
  margin-top: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

.machine {
  .name {
    color: black;
    text-decoration: solid;
  }

  .description {
    font-size: 16px;
    color: grey;
  }
  a:hover {
    text-decoration: none;
  }
}

.machine-table td {
  vertical-align: sub;
  display: flex;
  flex-wrap: nowrap;
}

p {
  font-size: 18px;
}

.modal-content {
  padding: 10px 20px;
  > p {
    font-weight: bold;
    font-size: 22px;
  }
}
.modal-alert {
  font-size: 14px;
  color: darkred;
}
.modal-description p {
  font-size: 40px;
}

.modal-title p {
  color: darkred;
}

.modal-solution p {
  font-weight: bold;
  font-size: 22px;
}

.h2-searchbar-error {
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2vw;
}

.grid-layout {
  display: flex;
}

.column1 {
  flex: 50%;
}

.column2 {
  flex: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

button.errorcode {
  width: 65%;
  margin-bottom: 15px;
  text-align: left;
  white-space: normal;
}

.information-content {
  width: 150%;
  height: 50%;
}

.information-dialog {
  height: 200%;
}

.headline-machine {
  display: flex;
  h2 {
    font-size: 4vw;
    margin-bottom: 30px;
  }
}

.image-machine-headline {
  height: 30px;
  margin-left: 20px;
  margin-bottom: 5px;
}

b.description-table {
  font-size: 1.5vw;
}

img:hover {
  opacity: 0.2;
}

img.no-hovering {
  width: 100%;
  &:hover {
    opacity: 1 !important;
  }
}

.additional-information {
  width: 180px;
}

.language-dropdown {
  background-color: lightgrey;
  border: 0px;
}

.input-machine-search {
  border: 2px solid;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

button > a {
  color: #f9f9f9;
}
