{% extends "base.html" %}

<!DOCTYPE html>

<body>
  {% block content %}
<main>
    <h2 class="login-screen">Machine-Error-Management System</h2>
    <p style="text-align: center">
      This project was created to built a Machine Error Management System using
      Python, JavaScript and the Django framework. It allows users to manage a database of
      machines, their descriptions, and the error codes that have been
      encountered on these machines. The system also provides details on how to
      resolve these errors. <br />
      Please request for access if you dont have rights.
    </p>
  </main>
{% endblock %}
</body>