<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>
        {% block title %}Error Management{% endblock %}
    </title>

    {% load static %}
    {% load i18n %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles-basic.css' %}">
    {% endblock %}
</head>

<body>
    <header>
        <nav class="navbar">
            <ul>
                {% if user.is_authenticated %}
                {% block logged_in_content %}
                <li class="nav-item dropdown plus" id="navbar2">
                    <a data-toggle="dropdown" href="{% url 'home' %}" id="navbarDropdown2">
                        <div class="plus">
                            <img src="{% static 'images/plus.svg' %}" alt="Plus" title="Daten hinzufügen">
                        </div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2" id="dropdown2">
                         <!--   <a class="dropdown-item logout" href="{% url 'error_protocoll' %}">{% trans "Fehler dokumentieren" %}</a>
                            -->
                        <a class="dropdown-item" href="{% url 'add_machine' %}">{% trans "Maschine hinzufügen" %}</a>
                        <a class="dropdown-item" href="{% url 'add_error' %}">{% trans "Fehlercode hinzufügen" %}</a>
                    </div>
                </li>
                <li class="tab-navigation tab-1">
                    <a href="{% url 'home' %}">{% trans "Maschinensuche" %}</a>
                </li>
                <li class="tab-navigation tab-2">
                    <a href="{% url 'error_protocol_details' %}" 
                    class="link">
                   {% trans "Fehlerprotokoll" %}
                 </a>
                </li>
                <div class="navbar-right">
                    <li class="information">
                        <a href="#" class="d-none d-sm-inline-block no-link" data-toggle="modal"
                            data-target="#information-modal">
                            <img src="{% static 'images/information.svg' %}" alt="Information" title="Informationen">
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="{% url 'home' %}" data-toggle="dropdown" id="navbarDropdown3">
                            <img src="{% static 'images/profile.svg' %}" alt="Profil" title="Benutzereinstellungen">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown3" id="dropdown3">
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item logout">Logout</button>
                            </form>
                            <!-- Sprachenauswahl-Formular -->
                            <form action="{% url 'set_language' %}" method="post" id="arrow" style="margin: 0; padding: 0;">
                                {% csrf_token %}
                                <span class="dropdown-item" style="cursor: default;">Sprachauswahl:</span>
                    
                                <select class="dropdown-item language-dropdown" name="language" onchange="this.form.submit()" style="width: 100%; border: none;">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %}
                                    {% for lang_code, lang_name in LANGUAGES %}
                                        <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                                            {{ lang_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="next" value="{{ request.path }}">
                            </form>
                                </select>
                                <input type="hidden" name="next" value="{{ request.path }}">
                            </form>
                        </div>
                    </li>
                </div>
                {% endblock %}
                {% else %}
                {% block not_logged_in_content %}
                <a href="https://www.bht-berlin.de/">
                    <img class="no-hovering image-logo" src="{% static 'images/BHT_Logoo.svg' %}" alt="BHT-Logo">
                </a>
                <div class="navbar-right">
                <p class="p-login">You are not logged in</p>
                <!-- <li class="login"><a href="{% url 'login' %}">Login</a></li>--> 
            </div>
                {% endblock %}
                {% endif %}
            </ul>
        </nav>
    </header>

    {% if user.is_authenticated %}
    <img class="back-navigation" src="{% static 'images/arrow.svg' %}" alt="Back Arrow" onclick="history.back()"
        style="padding-left: 30px">
    {% endif %}

    {% block content %}

    {% endblock %}

    <footer>
        <div class="container text-center">
            <p>&copy; 2024 Machine Error Management System</p>
            <p>
                <a href="{% url 'about' %}">About</a> |
                <a href="{% url 'about' %}">Contact</a> |
                <a href="{% url 'policy' %}">Privacy Policy</a>
            </p>
            <p>Developed as part of Bachelor’s Degree Project</p>
            <p>Berliner Hochschule für Technik - Fachbereich VI</p>
        </div>
    </footer>


    <div id="information-modal" class="modal fade" role="dialog">
        <div class="modal-dialog information-dialog">
            <div class="modal-content information-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <iframe src="https://publikationen.dguv.de/widgets/pdf/download/article/4529" width="100%"
                        height="100%"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">{% trans "Schließen" %}</button>
                </div>
            </div>
        </div>
    </div>
 
<!-- Modal for error protocol-->
<div id="errorProtocolModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{% trans "Fehlerprotokoll" %}</h4>
          <button type="button" class="btn btn-outline-secondary adding-error" data-url="{% url 'error_protocoll' %}"
            onclick="redirectToErrorProtocol(this)">
            {% trans "neuen Fehler hinzufügen" %}
          </button>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div>
            <div class="modal-body">
                <!-- Content will be dynamically loaded here -->
            </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-url="{% url 'error_protocoll' %}"
            onclick="redirectToErrorProtocol(this)">
            {% trans "neuen Fehler hinzufügen" %}
          </button>
          <button type="button" class="btn btn-light" data-dismiss="modal">
            {% trans "Schließen" %}
          </button>
        </div>
      </div>
    </div>
  </div>
  

    <!-- jQuery and Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

        
    <script>
            function redirectToErrorProtocol(button) {
      const url = button.getAttribute('data-url');
      window.location.href = url;
    }  
    $(document).ready(function () {
    $(".link").click(function (e) {
        e.preventDefault(); 
        var url = $(this).attr('href'); 
        $('#errorProtocolModal .modal-body').html(`
            <div class="d-flex justify-content-center align-items-center" style="height: 300px;">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Informationen werden geladen...</span>
                </div>
            </div>
        `);
        $('#errorProtocolModal').modal('show'); 
        $.ajax({
            url: url,
            method: 'GET',
            success: function (response) {
                $('#errorProtocolModal .modal-body').html(response);
            },
            error: function (xhr, status, error) {
                console.error("Failed to load modal content:", error);
                $('#errorProtocolModal .modal-body').html('<p>Error loading content. Please try again.</p>');
            }
        });
    });
});
function showLoaderOnClick(url) {
      showLoader();
      window.location=url;
  }
function showLoader(){
      $('body').append('<div style="" id="loadingDiv"><div class="loader">Loading...</div></div>');
  }
  const tabs = document.querySelectorAll('.tab-navigation');

// Get the current URL
//const currentURL = window.location.href;
//tabs.forEach(tab => {
//  if (tab.href === currentURL) {
//    tab.classList.add('active');
//  } else {
 //   tab.classList.remove('active'); // Optional, to ensure others are not active
 // }
//});
    </script>
</body>

</html>