header {
  display: flex;
  align-items: center;
  background-color: var(--marine-blue);
  text-align: center;
  height: 70px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

nav {
  all: unset !important;
  width: 100% !important;
  max-width: 100%;
}

nav ul {
  list-style: none;
  justify-content: flex-start;
  padding: 0;
  display: flex;
  width: 100%;
  margin-bottom: 0px !important;

  li {
    margin: 0 15px;
    margin-block: auto;
    a {
      text-decoration: none;
      color: var(--light-color);
      font-weight: bold;
    }
    a:hover,
    a:active {
      color: var(--light-color);
      text-decoration: none;
      transition: color 0.3s ease;
    }
  }
}

.navbar-right {
  display: flex;
  margin-left: auto;
  margin-right: 30px;
}

.navbar-right li {
  margin-right: 30px;
  margin-left: 0px;
}

.p-login {
  align-self: center;
  padding-right: 30px;
  margin-bottom: unset;
  color: var(--light-color);
}

#navbar2 {
  all: unset !important;
  margin: 0 15px;
  margin-top: 13px !important;
  #dropdown2 {
    top: 70px;
    left: unset;
    margin: unset !important;
    right: 0px;
  }
}

#dropdown1 {
  min-width: unset;
  top: 115%;
}

#dropdown3 {
  margin: 15px;
  left: unset;
  right: -70px;
}

#arrow > a {
  color: black !important;
  font-size: 20px;
}

.machine-results {
  border: solid var(--dark-blue);
  list-style: none;
  margin-top: 30px;
}

.list ul {
  position: relative;
  & li {
    position: relative;
    left: 0;
    color: #fce4ec;
    border-left: 2px solid var(--caribean-blue);
    transition: color 1s ease;
    cursor: pointer;
    & span {
      position: relative;
      padding: 8px;
      padding-left: 12px;
      display: inline-block;
      z-index: 1;
      & a {
        color: var(--oxford-blue);
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.list ul li:hover {
  left: 10px;
}

.list ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--caribean-blue);
  opacity: 0.5;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.list ul li:hover:before {
  transform: scaleX(1);
}

.machine {
  .name {
    color: black;
    text-decoration: solid;
  }

  .description {
    font-size: 16px;
    color: var(--marine-blue);
  }
  a:hover {
    text-decoration: none;
    transition: color 0.3s ease;
  }
}

.machine-table td {
  vertical-align: sub;
  display: flex;
  flex-wrap: nowrap;
}

.modal-content {
  padding: 10px 20px;
  > p {
    font-weight: bold;
    font-size: 22px;
  }
}
.modal-alert {
  font-size: 14px;
  color: darkred;
  margin-bottom: 1rem;
}
.modal-description p {
  font-size: 40px;
  margin-top: 1rem;
}

.modal-title p {
  color: darkred;
}

.modal-solution p {
  font-size: 22px;
}

.column1 {
  display: flex;
}

.columns {
  display: flex;
  margin-top: 50px;
}

.column2,
.container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  .search-button {
    border: none;
    padding: 10px 20px;
    background: white;
    color: var(--dark-blue);
    width: 60px;
    &:active {
      background-color: white;
      color: var(--dark-blue);
    }
  }
  .input-group {
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    height: 52px;
  }
  .input-style {
    border: none;
    padding-left: 20px;
    width: 580px;
    &:active {
      border: none;
    }
  }
}

.container {
  flex-direction: row !important;
  justify-content: center;
}

.search-bar .form-control {
  border: none;
  padding-left: 20px;
}

button.errorcode {
  width: 75%;
  margin-bottom: 15px;
  text-align: left;
  white-space: normal;
  background-color: unset;
  border-color: var(--caribean-blue);
  color: var(--caribean-blue);
  font-size: 18px;
  height: 52px;
  &:hover {
    background-color: var(--caribean-blue);
    border-color: var(--caribean-blue);
    transition: background-color 0.3s ease;
    color: var(--light-color);
  }
  &:focus {
    background-color: var(--caribean-blue);
    border-color: var(--caribean-blue);
    color: var(--light-color);
  }
}

.information-content {
  width: 150%;
  height: 50%;
}

.information-dialog {
  height: 200%;
}

.headline-machine {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  align-items: center;
  h2 {
    font-size: 44px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 140px;
  }
}

.image-machine-headline {
  height: 20px;
  margin-left: 20px;
}

img:hover {
  opacity: 0.2;
  transition: opacity 0.3s ease;
}

.modal-images {
  justify-content: center;
  display: flex;
}
.error-image-modal {
  width: 230px !important;
  height: 300px !important;
  margin-top: 10px;
}

img.no-hovering {
  width: 100%;
  &:hover {
    opacity: 1 !important;
    transition: opacity 0.3s ease;
  }
}

.description-table:hover {
  color: unset !important;
}

.additional-information {
  width: 180px;
  background-color: var(--marine-blue);
  border-color: var(--marine-blue);
  color: var(--light-color);
  &:hover,
  &:focus {
    > a {
      text-decoration: none;
      color: var(--light-color) !important;
    }
    opacity: 0.7;
    background-color: var(--marine-blue);
    border-color: var(--marine-blue);
    box-shadow: unset !important;
  }
}

.logout {
  border-bottom: #0d1f47 2px solid;
}

.dropdown-item {
  cursor: pointer;
  &:hover {
    background-color: rgba(13, 31, 71, 0.5);
  }
}

.link {
  color: var(--light-color) !important;
  cursor: pointer;
}

.language-dropdown {
  border: 0px;
  cursor: pointer;
  font-size: 18px;
  &:hover {
    background-color: rgba(13, 31, 71, 0.5);
  }
}

button > a {
  color: var(--light-color);
}

.back-navigation {
  cursor: pointer;
}

.adding-error {
  margin-left: 80px;
  margin-top: -5px;
}

.second {
  margin-bottom: 20px;
}

.btn-danger {
  border-radius: 10px !important;
}

.card-body {
  margin-top: 50px;
}

.form-control.input {
  height: 52px;
}

.container-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#toggle-filter-btn img {
  transform: rotate(180deg);
}

#maschinenbeschreibung .card-body,
#notizen .card-body {
  max-width: 700px;
}
