{% extends 'base.html' %} {% load static %} {% load i18n %}

<body>
  {% block content %} {% if user.is_authenticated %}
  <main>
    <h2>Fehler dokumentieren (Fehlerprotokoll)</h2>

    <form class="fehlerprotokoll" method="POST" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <div class="error-add">
        <button class="button-style submit-button" type="submit">Hinzufügen</button>
        <div class="spinner-border hidden" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </form>
  </main>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const button = document.querySelector('.submit-button')
  const spinner = document.querySelector('.spinner-border')
  button.addEventListener('click', function (event) {
      spinner.classList.remove("hidden")
    })
});
</script>
  {% endif %} {% endblock %}
</body>