{% extends "base.html" %} {% load i18n %}

<!DOCTYPE html>
<body>
  {% block content %} {% if user.is_authenticated %}

  <main>
    <h1>{% trans "Maschinensuche" %}</h1>
    <br />

    <form method="GET" action="{% url 'home' %}" class="search-bar">
      {% csrf_token %}
      <input
        class="button-style overview"
        type="text"
        name="q"
        placeholder="Deine Eingabe..."
      />
      <button class="button-style" type="submit">{% trans "Suche" %}</button>
    </form>

    {% if results %}
    <section class="machines">
      <div class="list">
        <ul>
          {% for machine in results %}
          <li class="machine-results">
            <span>
              <a href="{% url 'machine_detail' pk=machine.id %}">
                {{ machine.name }}
              </a>
            </span>
          </li>
          {% endfor %}
        </ul>
      </div>

      {% else %}
      <p>{% trans "Keine Ergebnisse gefunden." %}</p>
    </section>
  </main>
  {% endif %} {% else %} {% block content2 %}
  <main>
    <h2>Machine-Error-Management System</h2>
    <p style="text-align: center">
      This project was created to built a Machine Error Management System using
      Python and the Django framework. It allows users to manage a database of
      machines, their descriptions, and the error codes that have been
      encountered on these machines. The system also provides details on how to
      resolve these errors. <br />
      Please request for access if you dont have rights.
    </p>
  </main>
  {% endblock %}{% endif %} {% endblock %}
</body>
