{% extends "base.html" %} {% load i18n %} {% load static %}

<!DOCTYPE html>

<body>
  {% block content %} {% if user.is_authenticated %}

  <main>
    <h1>{% trans "Maschinensuche" %}</h1>
    <br />
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <form method="GET" action="{% url 'home' %}" class="search-bar">
      {% csrf_token %}
      <input class="button-style overview" type="text" name="q" placeholder="Deine Eingabe..." />
      <button class="button-style search" type="submit">{% trans "Suche" %}</button>
    </form>
    <div class="spinner-border home-spinner hidden" role="status">
      <span class="sr-only">Loading...</span>
    </div>

    {% if results %}
    <section class="machines">
      <div class="list">
        <ul>
          {% for machine in results %}
        <a href="{% url 'machine_detail' pk=machine.id %}">
          <div class="machine">
            <li class="machine-results">
              <span>
                  <h3 class="name">{{ machine.name }}</h3>
                  <p class="description">{{ machine.description }}</p>
              </span>
            </li>
          </div>
        </a>
          {% endfor %}
        </ul>
      </div>
      
      {% else %}
      {% for machine in all_machines %}
      <section class="machines">
        <div class="list">
          <ul>
            <a href="{% url 'machine_detail' pk=machine.id %}">
              <div class="machine">
                <li class="machine-results">
                  <span>
                    <h3 class="name">{{ machine.name }}</h3>
                    <p class="description">{{ machine.description }}</p>
                  </span>
                </li>
              </div>
            </a>
        {% endfor %}
      </section>
  </main>
  
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const search = document.querySelector('button.search')
      const spinner = document.querySelector('.spinner-border')
      search.addEventListener('click', function (event) {
          spinner.classList.remove("hidden")
        })
    });
    </script>

  {% endif %} 

  {% else %}{% load i18n %}
<div class="login-container">
  <h2 class="login-font">{% trans "Login Daten eingeben" %}</h2>

  <form method="POST">
    {% csrf_token %} {{ form.as_p }}
    <button class="button-style login-button" type="submit">{% trans "Login" %}</button>
  </form>
  <div class="spinner-border hidden" role="status">
      <span class="sr-only">Loading...</span>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.querySelector('form')
    const spinner = document.querySelector('.spinner-border')
    form.addEventListener('submit', function (event) {
        spinner.classList.remove("hidden")
      })
  });
</script>

{% endif %}
  {% endblock %}
</body>