{% extends "base.html" %} {% load i18n %}

<body>
  {% block content %} {% if user.is_authenticated %}
  <main>
    <h1>{% trans "Maschinenübersicht" %}</h1>
    <br />

    <section class="machines">
      <div class="list">
        <ul>
          {% for machine in all_machines %}
          <div class="machine">
            <li class="machine-results">
              <span>
                <a href="{{ machine.pk }}">
                  <h3 class="name">{{ machine.name }}</h3>
                  <p class="description">{{ machine.description }}</p>
                </a>
              </span>
            </li>
          </div>
          {% endfor %}
        </ul>
      </div>
    </section>
  </main>

  {% endif %} {% endblock %}
</body>
