{% extends "base.html" %} {% load i18n %}

<body>
  {% block content %} {% if user.is_authenticated %}
  <main>
    <h1>{% trans "Maschinenübersicht" %}</h1>
    <br />

    <section class="machines">
      <div class="list">
        <ul>
          {% for machine in all_machines %}
          <a href="{{ machine.pk }}">
          <div class="machine">
            <li class="machine-results">
              <span>
                  <h3 class="name">{{ machine.name }}</h3>
                  <p class="description">{{ machine.description }}</p>
              </span>
            </li>
          </div>
        </a>
          {% endfor %}
        </ul>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </main>

  {% endif %} {% endblock %}
</body>
